---
const today = new Date();
---


<footer class="bg-zinc-950 text-white py-12">
  <div class="container mx-auto px-6 md:px-12">
    <!-- Información de la Empresa -->
    <div class="mb-12 text-center md:text-left">
      <h4 class="text-3xl font-semibold mb-4">Llajtasoft</h4>
      <p class="text-lg mb-4">Transformamos tus ideas en soluciones tecnológicas de alto impacto. Con más de 5 años de experiencia, creamos aplicaciones web, móviles y de escritorio personalizadas para tu negocio.</p>
    </div>

    <!-- Enlaces Rápidos y Contacto -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 mb-12">
      <!-- Servicios -->
      <div>
        <h5 class="font-semibold text-xl mb-4">Servicios</h5>
        <ul class="text-sm space-y-2">
          <li><a href="#servicios" class="text-blue-500 hover:underline">Desarrollo Web</a></li>
          <li><a href="#servicios" class="text-blue-500 hover:underline">Desarrollo Móvil</a></li>
          <li><a href="#servicios" class="text-blue-500 hover:underline">Desarrollo de Escritorio</a></li>
        </ul>
      </div>

      <!-- Información -->
      <div>
        <h5 class="font-semibold text-xl mb-4">Información</h5>
        <ul class="text-sm space-y-2">
          <li><a href="#contacto" class="text-blue-500 hover:underline">Contáctanos</a></li>
          <li><a href="#faq" class="text-blue-500 hover:underline">FAQ</a></li>
          <li><a href="#" class="text-blue-500 hover:underline">Política de Privacidad</a></li>
          <li><a href="#" class="text-blue-500 hover:underline">Términos y Condiciones</a></li>
        </ul>
      </div>

      <!-- Redes Sociales -->
      <div>
        <h5 class="font-semibold text-xl mb-4">Síguenos</h5>
        <ul class="text-sm space-y-2">
          <li><a href="#" class="text-blue-500 hover:underline">Facebook</a></li>
          <li><a href="#" class="text-blue-500 hover:underline">Twitter</a></li>
          <li><a href="#" class="text-blue-500 hover:underline">LinkedIn</a></li>
        </ul>
      </div>

      <!-- Información de Contacto -->
      <div>
        <h5 class="font-semibold text-xl mb-4">Contacto</h5>
        <ul class="text-sm space-y-2">
          <li><span class="font-semibold">Dirección:</span> Calle Ficticia 123, Ciudad, País</li>
          <li><span class="font-semibold">Teléfono:</span> +1 234 567 890</li>
          <li><span class="font-semibold">Email:</span> <a href="mailto:contacto@llajtasoft.com" class="text-blue-500 hover:underline">contacto@llajtasoft.com</a></li>
        </ul>
      </div>
    </div>



    <!-- Información Legal -->
    <div class="border-t border-zinc-700 pt-6 mt-8 text-center">
      <p class="text-sm">© 2025 Llajtasoft. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
